.register-page-container {
    max-width: 1200px;
    background: lightblue;
    margin: 0 auto;
    padding: 1rem;
    
    h1 {
        text-align: center;
    }
    
    form{
        border-radius: 5px;
        background: lightcyan;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        padding: 1rem;

        input,select {
            padding: 0.4rem;
        }
        
        label {
            text-decoration: underline;
        }

        button {
            background: rgb(186, 154, 154);
            border: none;
            border-radius: 5px;
            padding: 0.4rem;
        }
    }
}