.register-page-container {
  max-width: 1200px;
  background: lightblue;
  margin: 0 auto;
  padding: 1rem;

  h1 {
    text-align: center;
  }

  form {
    border-radius: 5px;
    background: lightcyan;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem;

    input,
    select {
      padding: 0.4rem;
    }

    label {
      text-decoration: underline;
    }

    button {
      background: rgb(186, 154, 154);
      border: none;
      border-radius: 5px;
      padding: 0.4rem;
      cursor: pointer;
    }
  }

  .users-list {
    border: 2px solid lightskyblue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    gap: 0.4rem;

    .user-item {
      border: 3px solid lightsteelblue;
      padding: 1rem;
      display: flex;
      gap: 0.3rem;
      flex-direction: column;

      button {
        background: rgb(161, 156, 156);
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}
